.container {
    display: grid;
    grid-template-columns: 100fr 1fr 100fr;
    column-gap: 2rem;
}

.horisontalLinje {
    height: 0;

    border: 2px solid #f3f3f3;

    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.vertikalLinje {
    border-left: 2px solid #f3f3f3;
    width: 5px;
    margin-bottom: 1rem;
}