.søkefelt {
    width: 50%;
    padding-right: 1rem;
}

.søkeresultat {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 10px;
    margin-bottom: 4px;
    background: rgba(196, 196, 196, 0.2);
}