.container {
    margin: 1rem 0.5rem;
    border: 1px solid var(--a-border-subtle);
    border-radius: 0.125rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    row-gap: 1rem;
    column-gap: 1.5rem;
}