.container {
    padding: 0;
    margin: 0 1rem;
    list-style-type: none;
    span {
        font-weight: var(--a-font-weight-regular);
    }
}

.dokument {
    display: grid;
    grid-template-columns: repeat(2, minmax(2rem, max-content));
    gap: 0.5rem;
    margin: 0.5rem 0;
    align-items: center;
}

.dokumentTag {
    width: 1.5rem;
}