.container {
    width: 100%;
}

.pilVenstre {
    border-radius: 0;
    margin-top: 3px;
    margin-right: 2px;
    color: var(--a-white);
}

.pilHøyre {
    border-radius: 0;
    margin-top: 3px;
    color: var(--a-white);
}

.toggleOpen {
    position: absolute;
    background: none;
    background-color: var(--a-icon-info);
    margin-left: -12px;
    top: 200px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 22;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}